{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * ActiveCampaign plugin for Craft CMS 3.x
 *
 * ActiveCampaign Settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   ActiveCampaign
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% set fullPageForm = true %}
{% requireAdmin %}
{% set selectedSubnavItem = 'settings' %}
{% import "_includes/forms" as forms %}

{% set title = "Active Campaign Settings" %}


{# {% do view.registerAssetBundle("kuriousagency\\activecampaign\\assetbundles\\activecampaign\\ActiveCampaignAsset") %} #}

{% block content %}

  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: plugin.handle
  })}}

{{ forms.textField({
    label: 'Account',
    instructions: '',
    id: 'account',
    name: 'settings[account]', 
    required: true,
    value: settings['account']})
}}

{{ forms.textField({
    label: 'API Key',
    instructions: '',
    id: 'apiKey',
    name: 'settings[apiKey]', 
    required: true,
    value: settings['apiKey']})
}}

{% if settings['account'] is not empty and settings['apiKey'] is not empty %}

	<h2>Tags</h2>
	<p><a href="{{ actionUrl('activecampaign/tags/update') }}" class="btn submit">Update</a></p>
	<br>

	<h2>Custom Fields</h2>
	<p><a href="{{ actionUrl('activecampaign/fields/update') }}" class="btn submit">Update</a></p>

{% endif %}

{% endblock %}